---
import { Image } from "astro:assets";
import githubLogo from "../images/logoes/githubLogo.svg";
import laravelLogo from "../images/logoes/laravelLogo.svg";
import astroLogo from "../images/logoes/favicon.svg";
import nextLogo from "../images/logoes/nextLogo.svg";
import nodeJsLogo from "../images/logoes/nodeJsLogo.svg";
import reactLogo from "../images/logoes/reactLogo.svg";
import wordpressLogo from "../images/logoes/wordpressLogo.svg";
---

<section class="self-stretch bg-black">
  <div
    class="p-4 whitespace-nowrap relative overflow-x-hidden max-w-screen-2xl mx-auto before:absolute before:top-0 before:w-[120px] sm:before:w-[300px] before:h-full before:z-10 before:left-0 before:bg-gradient-to-r before:from-black before:from-30% after:absolute after:top-0 after:w-[120px] sm:after:w-[300px] after:h-full after:z-10 after:right-0 after:bg-gradient-to-l after:from-black after:to-70%"
    data-element="logos"
  >
    <div class="inline-block animate-slide" data-element="logos-slide">
      <Image
        src={astroLogo}
        alt="astro logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />

      <Image
        src={githubLogo}
        alt="github logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />
      <Image
        src={laravelLogo}
        alt="laravel logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />
      <Image
        src={nextLogo}
        alt="nextJS logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />
      <Image
        src={nodeJsLogo}
        alt="node JS logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />
      <Image
        src={reactLogo}
        alt="react logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />
      <!-- <img
        src="/images/githubLogo.svg"
        alt=""
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      /> -->
      <Image
        src={wordpressLogo}
        alt="wordpress logo"
        class="filter brightness-0 opacity-85 invert w-16 inline mx-14"
      />
    </div>
  </div>
</section>
<!-- scripts -->
<script>
  const copy = document
    .querySelector("[data-element=logos-slide]")
    .cloneNode(true);
  document.querySelector("[data-element=logos]").appendChild(copy);
</script>
